.box{
    width: 500px;
    height: 500px ;
    border: 5px solid blue;
    margin: 20px auto ;
    position: relative;
}
 
.item1, .item2, .item3, .item4, .item5{
    width: 100px;
    height: 100px;
}
 
.item1{
    border: 5px solid aqua;
    /* margin: 10px auto ; */
    position: relative;
    left: 10px ; 
    top: 10px; 
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.item2{
    border: 5px solid aquamarine;
    /* margin: 10px auto ; */
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    bottom: 10px ;
    left: 10px;
}
.item3{
    border: 5px solid darkcyan;
     /* margin: 10px auto ;  */
    position:relative;
    justify-content: center;
    display: flex;
    align-items: center;
    bottom: 100px;
    left: 380px
}
.item4{
    border: 5px solid cyan;
    /* margin: 10px auto ; */
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 160px;
    bottom: 10px ;
    left: 380px;
}
.item5{
    border: 5px solid ;
    /* margin: 10px auto ; */
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    bottom: 200px;
    left: 200px;
   
}